{% extends "base.html" %}
{% load django_markdown %}
{% block blog_entries %}
<!-- Blog Entries Column -->
<br>
		 <li style="display:block"> 
		      <div class="media-body">
		          <div class="media">
		              <a href="#" class="pull-left">
		                  <img src="{{ MEDIA_URL }}{{ object.thumbnail }}" >
		              </a>
		              <h3><a>{{ object.title }}</a> </h3>
		              <p class="meta">
			                {{ object.created }} |
			                Tagged under {{  object.tags.all|join:", " }}
		              </p> 
		              <br>
		               <img class="img-responsive" src="{{STATIC_URL}}assets/img/mobile-background.jpg" alt="mobile background image">
		               <br>
		               <hr>
		              <div class="media-body">           
		                {{ object.body|markdown }}
		              </div>
		          </div>

		        </div>
		      </li>
		
   		</div>

   		
 
{% endblock %}
 